openapi: 3.0.0
info:
  title: Saint Seiya API
  version: 1.0.0
  description: A complete API to access detailed information about the characters from the anime Saint Seiya.

servers:
  - url: https://www.saintseiyaapi.com/api

tags:
  - name: Characters
    description: Operations related to Saint Seiya characters

paths:
  /characters:
    get:
      summary: Retrieves all characters
      description: Returns a paginated list of Saint Seiya characters.
      tags: [Characters]
      responses:
        200:
          description: Successfully retrieved the characters list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterListResponse'

  /characters/{id}:
    get:
      summary: Retrieves a specific character by ID
      description: Returns the details of a Saint Seiya character.
      tags: [Characters]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the character
      responses:
        200:
          description: Character found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterResponse'

components:
  schemas:
    Character:
      type: object
      properties:
        _id:
          type: string
          example: "67d47a5d211d5f850883bb8b"
        name:
          type: string
          example: "Seiya"
        alias:
          type: string
          example: "Pegasus Seiya"
        gender:
          type: string
          example: "male"
        constellation:
          type: string
          example: "Pegasus"
        rank:
          type: string
          example: "Bronze"
        cloth:
          type: string
          example: "Pegasus Cloth"
        mentor:
          type: string
          example: "Marin"
        techniques:
          type: array
          items:
            type: string
          example: ["Pegasus Ryuseiken", "Pegasus Suiseiken"]
        image:
          type: string
          format: uri
          example: "https://saintseiyaapi.com/assets/seiya.jpeg"

    CharacterListResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        results:
          type: integer
          example: 90
        pagination:
          type: object
          properties:
            totalItems: { type: integer, example: 90 }
            totalPages: { type: integer, example: 9 }
            currentPage: { type: integer, example: 1 }
            perPage: { type: integer, example: 10 }
            hasNextPage: { type: boolean, example: true }
            hasPrevPage: { type: boolean, example: false }
            nextPage: { type: integer, nullable: true, example: 2 }
            prevPage: { type: integer, nullable: true, example: null }
        data:
          type: object
          properties:
            characters:
              type: array
              items:
                $ref: '#/components/schemas/Character'

    CharacterResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        data:
          $ref: '#/components/schemas/Character'
